<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather</title>

    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>use this site to get your weather</p>
        <h1>{{title}}</h1>
        <form>
            <input type="text" name="" id="" placeholder="Loaction">
            <button>Search</button>
        </form>
        <p id='p6'></p>

        <p class='p'>Place :</p>
        <p id="p1"></p>

        <p class='p'>Loaction : </p>
        <p id="p2"></p>

        <p class='p'>Weather : </p>
        <p id="p3"></p>

        <p class='p'>Time :</p>
        <p id="p4"></p>

        <p class='p'>Description :</p>
        <p id="p5"></p>



    </div>

    <h4>{{>footer}}</h4>

    <script src="js/jss.js"></script>
</body>

</html>